/* 
    Document   : style_friendPage
    Created on : 20 déc. 2011, 14:29:26
    Author     : Eyram
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.menubarre, .menubarre1, .menubarre2{
    background-color: #2B2B2B;
    font-size : 120%;   
    height:40px;
    width: 550px;
}

.menubarre1, .menubarre2{
    width: 500px;
}

.menubarre a, .menubarre1 a, .menubarre2 a{
    display: inline-table;
    color: #FF9E16;
    margin-left: 20px;
    text-decoration: none;
    
}

.menubarre2 a{
    margin-left: 80px;
}


.menubarre a:hover, .menubarre1 a:hover, .menubarre2 a:hover{
    color : white;
    border-bottom: 4px solid white;
  
    
}

.menubarre a.is_selected, .menubarre1 a.is_selected, .menubarre2 a.is_selected{    
    color: white;
    border-bottom: 4px solid white;
}


#position-menu-barre{
    
    
}

#posearch1 {
    position : absolute;
    top: 50px;
    right : 20px;
}


.imageContener{    
    position: inherit;
    float: none;
    width: 600;
    padding-left: 2px;
    padding-right: 2px;
}


.pictureContener, .pictureContener1{      
      
      border-left: 2px solid #2B2B2B;
      border-right: 2px solid #2B2B2B;
      border-top: 2px solid #2B2B2B;
      border-bottom: 2px solid #2B2B2B;
      height: 70px;
      width: 40px;     
}


.pictureContener .imageContener{    
      margin-left: 20px;
      padding-left: 20px;
      padding-top: 4px;
      height: 16px;
}

#nameposition{
    margin-top: -10px;
    text-align: center;
    
}

#picturposition{    
    margin-top: 0px;
}

