/*
    Document   : style_head
    Created on : 10 déc. 2011, 11:36:43
    Author     : Eyram
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.bar{
    font-size : 140%;
    width: 100%;
    margin-left: -4px;
    font: bold 12px;
    list-style-type: none;
    text-decoration: none;
}

.bar a {
    display: inline;
    border-bottom: none;
    margin-right: -3px;
    background-color: gray;
    color: black;
    padding: 4px 5px;
}


.bar a.selected{
    background-color: #2B2B2B;
    color: #f6b22b;
}

.bar a:hover {
    color : blue;
    text-decoration: none;
}

#positionbar{
    position: absolute;
    top: 118px;
    margin-left: 0px;
}

#posearch {
    position : absolute;
    top : 15px;
    right : 100px;
}