/* *****************************************************************
/* Feuille de style
/*
/* Date de creation : 04/12/2011
/* Auteur : Eyram   DOVI
/*
/* Adresse de validation CSS :
/* http://jigsaw.w3.org/css-validator/
/*																   */
/*
/*******************************************************************/
#contener {
margin-left : auto;
margin-right : auto;
}
#header {
margin-top: 0px;
height : 128px;
background : url(../images/bg-header.jpg) repeat-x ;
margin-left : auto;
margin-right : auto;
}

#body_bg {
    margin-top: 0px;
    background : url("../images/body-bg.jpg") repeat-x;
}
#body1 {
background : url("../images/background.jpg") repeat-x;
}




.bar a:hover {
color: white;
text-decoration : none;
}

.bar a.selected{
    background-color: #2B2B2B;
    color: #f6b22b;
}

a {
color : blue;
text-decoration : none;
}
.bar a:hover {
color : blue;
text-decoration : none;
}

.chromemenu ul li a:hover, .chromemenu ul li a.current {
background : url(media/chromebg2.gif) repeat-x ;
}
#global {
position : absolute;
left : 40%;
top : 90%;
width : 340px;
height : 250px;
margin-top : -250px;
margin-left : -450px;
border : 7px solid #000;
}
#footer {
color : #00b1d7;
background : url(../images/footer.jpg) repeat-x scroll;
height : 65px;
width : 100%;
position : absolute;
bottom : 0;
padding : 6px 0;
margin : -80px 0;
}
#content, #footer1 {
background : url("../images/footer_bg.gif") repeat-x;
clear : both;
}
html, body {
height : 100%;
}
#posearch {
position : absolute;
top : 130px;
right : 100px;
}
.btn_search {
background : url(../images/btn-search.png);
width : 10px;
height : 10px;
}

.bar{
    font-size : 130%;
    width: 100%;
    padding: -5px -5px;
    margin-right: 0;

    border-bottom:1px solid gray;
    list-style-type: none;
    text-align: center;
    display:inline;

}

.tab li{
    display:inline;
    margin: 0;
}

.bar a {
    display:inline-table;

    text-decoration: none;
    text-align: center;
    top: -5px;
    margin-right: -4.5px;
    background-color: gray;
    color: black;
}

.tab li a:visited{
    color: blue;
}

.tab li a:hover{
    background : url(../images/background.jpg);
    color : green;
}

.tab li a:active{
    color : red;
}

