/* 
    Document   : style_client_page
    Created on : 20 déc. 2011, 14:29:26
    Author     : Eyram
    Description:
    Purpose of the stylesheet follows.
*/
/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#contener {
    margin-left : auto;
    margin-right : auto;
}
#header {
    margin-top: 0px;
    height : 128px;
    background : url(../images/bg-header.jpg) repeat-x ;
}

#body_bg {
    width: 100%;
    margin-top: 0px;
}
#body1 {
    background : url("../images/background.jpg") repeat-x;
}

#positionbar{    
    margin-top: -20px;
    margin-left: 0px;
}


#myText{
    position: relative;
    font-size: 130%;
    top: -10px;
    
    
}

.bar, .bar1, .bar2, .bar3{    
    background-color: gray;
    height: 42px;
    width: 550px;
    margin-left: -4px;    
    list-style-type: none;
    
}

.bar1{    
    width: 550px; 
    height: 38px;
}
.bar2{
    width: 550px
}

.bar3{
    width: 500px;
}

.bar a,  .bar1 a, .bar2 a, .bar3 a{    
    border-bottom: none;
    margin-right: -3px;    
    color: black;
    padding: 4px 5px;
    text-decoration: none;    
}


.bar a:hover, .bar1 a:hover, .bar2 a:hover, .bar3 a:hover {    
    color :#0A1ACC;   
}


.bar a.selected, .bar1 a.selected, .bar2 a.selected, .bar3 a.selected{
    background-color: #2B2B2B;
    color: #F6B22B;
    border-bottom: 4px
    solid #F6B22B;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#posipicto{
    top:6px;
    margin-left:10px;
    position: relative
}

#posearch { 
    position : absolute;
    top: 130px;
    right: 20px;
}

.chromemenu ul li a:hover, .chromemenu ul li a.current {
    background : url(media/chromebg2.gif) repeat-x ;
}

#global {
    position : absolute;
    left : 40%;
    top : 90%;
    width : 340px;
    height : 250px;
    margin-top : -250px;
    margin-left : -450px;
    border : 7px solid #000;
}

#footer {
    color : #00b1d7;
    background : url(../images/footer.jpg) repeat-x scroll;
    height : 65px;
    width : 100%;
    position : absolute;
    bottom : 0;
    padding : 6px 0;
    margin : -80px 0;
}
#content, #footer1 {
    background : url("../images/footer_bg.gif") repeat-x;
    clear : both;
}
html, body {
    height : 100%;
}


.btn_search {
    background : url(../images/btn-search.png);
    width : 10px;
    height : 10px;
}

.mapContainer{
    width:100%; 
    height:100%; 
    margin: 0; 
    padding: 0;
    margin-top: -25px;
}


#map_canvas{
    
}

#photo_canvas{
    width: 400px; height: 80%;
    margin-left: 68.5%; 
    border: 2px solid #000 ;
}

